@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.site-bg{
    background: #0b5470;
    background: radial-gradient(circle, rgba(11, 84, 112, 1) 0%, rgba(171, 206, 219, 1) 33%, rgba(168, 204, 224, 1) 66%, rgba(11, 84, 112, 1) 100%);
    max-width: 1440px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.download-btn{
    background-color: orange;
    color: white;
    padding: 1rem 3rem;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 1rem;
}

.download-btn:hover{
    background-color: #e99802;
    cursor: pointer;
}

.handle {
  width: 10px;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 0;
  top: 0;
  cursor: ew-resize;
}

.handle:hover {
  background: rgba(0, 0, 0, 0.3);
}

.box {
  position: relative;
  width: 200px;
  height: 150px; /* Static height */
  /* background-color: #3498db; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
  border-radius: 8px;
  user-select: none; /* Prevents highlighting text while dragging */
}